/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/UnityPackageManager/
/AssetStore-5.x/

# Memory-mapped files
*.pidb
*.suo
*.sln.idef
*.user
*.userprefs
*.unityproj

# VS Code specific files
.vscode/

# Visual Studio / Rider solution files
*.csproj
*.sln
*.user
*.userprefs

# Gradle build folder
/Assets/Plugins/Android/Gradle/build/
/Assets/Plugins/Android/.gradle/

# Output packages
*.apk
*.aab

# Temporary files and logs
local.properties
/Assets/StreamingAssets/